<html>
<head><title>{{ .title }}</title></head>
<body>
    <h2>Application Error</h2>
    <p>{{ .message }}</p>
    <br/>
    <a href="/documents">Go to Documents</a><br/>
    <br/>
    <a href="/login">Login</a>
</body>
</html>